*{
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .header {
    height: 70%;
  }
  .searchInput {
    background-color:none;
    width: 5%;
    padding: 5%;
    margin-bottom: -70px;
    &:hover {
      color: rgb(184, 34, 8);
     
  }
}
  .header--navbar {
    text-decoration: none;
    .header--navbar--nav {
      color: gray;
      font-weight: bold;
      margin-top: -90px;
      &:hover {
        color: rgb(184, 34, 8);
        border-bottom: rgb(184, 34, 8);
      }
    }
  }
   
  .app--Lists{
    width: 50%; 
    margin-top: -80px; 
  }
  .logout{
     width: 50%;
     margin: auto;
     margin-top: 30px;
    font-size: large;
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    &:hover {
      color: rgb(7, 5, 9);
    }
  }

  .login {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-size: large;
    background-color: rgb(66, 194, 23);
    text-align: center;
    border-radius: 10px;
    &:hover {
      color: rgb(7, 5, 9);
    }
  }